@import "react-big-calendar/lib/sass/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  img {
    width: 150px;
  }

  h1,
  p {
    color: #000000;
    text-align: center;
  }

  // ----------------- NavBar -----------------
  nav {
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      justify-content: end;
    }

    ul.nav-menu-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;

      li.nav-text {
        list-style: none;

        a {
          text-decoration: none;
          color: #000000;
          padding: 1rem;
        }

        a:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  // ----------------- HomePage -----------------

  img.background-img {
    min-width: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
    object-position: 50% 50%;
    top: 0;
  }

  .home {
    height: calc(100vh - 55px);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #home-text {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 1rem;
    }
  }

  // ----------------- Calendar -----------------

  #calendar {
    width: 80%;
    margin: 0 auto;
  }
}
